.section-buy {

    .buy {
        gap: 4rem;
        display: flex;
        align-items: center;
        padding: 7.2rem 8rem;
        background-color: $dark-color;
        justify-content: space-between;

        .buy__img {
            width: 45%;
            text-align: center;

            img {
                width: auto;
                height: auto;
                max-width: 100%;
            }
        }

        .buy__body {
            width: 55%;
            gap: 3.6rem;
            display: flex;
            flex-direction: column;

            .buy__desc {
                font-size: 1.6rem;
            }

            .buy__button {
                width: fit-content;
            }
        }
    }
}