// Font Size___________
$main-size: 10px;

// Colors______________
$dark-color: #1C1814;
$white-color: #ffffff;
$extra-color: #121315;
$accent-color: #C99E71;
$secondary-color: #14110E;
$supplementary-color: #ffffffcc;

// Font Weights________
$font-bold: 700;
$font-normal: 400;
$font-madium: 500;

// Hero Fonts__________
$hero-font: 'Urbanist', sans-serif;

// Additional Fonts____
$additional-font: 'Inter', sans-serif;
$complementary-font: 'Righteous', sans-serif;

// Transitions__________
$main-transition: .2s;