<section class="section-hero" id="home">
    <div class="container">
        <div class="hero">
            <h1 class="main-title hero__main-title">Enjoy Your Morning Coffee.</h1>
            <p class="desc hero__desc">The coofee is brewed by fist roasting the green coffee beans over hot coals in
                brazier. given to Opportunity</p>
            <div class="hero__actions">
                <button class="button her">Test Coffee</button>
                <button class="button-play">
                    <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="35" cy="35" r="34.25" stroke="white" stroke-width="1.5" />
                        <path d="M28 26L42 35L28 44V26Z" fill="white" />
                    </svg>
                    <span>Play video</span>
                </button>
            </div>
        </div>
    </div>
</section>