<section class="section section-process">
    <div class="container">
        <ul class="process">
            <li class="process__elem">
                <h3 class="section-subtitle process__section-subtitle">
                    <span class="accent process__accent">01</span>
                    Best Coffee Flavour
                </h3>
                <img class="process__img" src="../../assets/img/section-process1.jpg" alt="Our coffee">
            </li>
            <li class="process__elem">
                <h3 class="section-subtitle process__section-subtitle">
                    <span class="accent process__accent">02</span>
                    Place to get lost
                </h3>
                <img class="process__img" src="../../assets/img/section-process2.jpg" alt="Our coffee">
            </li>
            <li class="process__elem">
                <h3 class="section-subtitle process__section-subtitle">
                    <span class="accent process__accent">03</span>
                    Proper roesting
                </h3>
                <img class="process__img" src="../../assets/img/section-process3.jpg" alt="Our coffee">
            </li>
        </ul>
    </div>
</section>