<section class="section section-news">
    <div class="container">
        <div class="news">
            <h4 class="accent">Testimonial</h4>
            <h2 class="section-title news__section-title">Our latest news</h2>
            <ul class="news__list">
                <li class="news__elem">
                    <img class="news__img" src="../../assets/img/section-process3.jpg" alt="Our Coffee">
                    <div class="news__body">
                        <div class="news__date">
                            <div><span class="accent">By:</span> rasaline</div>
                            <time>23.01.2021</time>
                        </div>
                        <a class="news__subtitle" href="#">Ideal cocktails from barmen</a>
                        <a class="news__link" href="#">
                            <div class="news__more">Read More</div>
                            <span class="news__arrow">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 12H19" stroke="#C99E71" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M12 5L19 12L12 19" stroke="#C99E71" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </span>
                        </a>
                    </div>
                </li>
                <li class="news__elem">
                    <img class="news__img" src="../../assets/img/section-process2.jpg" alt="Our Coffee">
                    <div class="news__body">
                        <div class="news__date">
                            <div><span class="accent">By:</span> rasaline</div>
                            <time>23.01.2021</time>
                        </div>
                        <a class="news__subtitle" href="#">Ideal cocktails from barmen</a>
                        <a class="news__link" href="#">
                            <div class="news__more">Read More</div>
                            <span class="news__arrow">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 12H19" stroke="#C99E71" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M12 5L19 12L12 19" stroke="#C99E71" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </span>
                        </a>
                    </div>
                </li>
                <li class="news__elem">
                    <img class="news__img" src="../../assets/img/section-process1.jpg" alt="Our Coffee">
                    <div class="news__body">
                        <div class="news__date">
                            <div><span class="accent">By:</span> rasaline</div>
                            <time>23.01.2021</time>
                        </div>
                        <a class="news__subtitle" href="#">Ideal cocktails from barmen</a>
                        <a class="news__link" href="#">
                            <div class="news__more">Read More</div>
                            <span class="news__arrow">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 12H19" stroke="#C99E71" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M12 5L19 12L12 19" stroke="#C99E71" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>