<section class="section section-history" id="history">
    <div class="container">
        <div class="history">
            <div class="history__images">
                <img class="history__image history__image--1" src="../../assets/img/section-process1.jpg"
                    alt="Our coffee">
                <img class="history__image history__image--2" src="../../assets/img/section-process2.jpg"
                    alt="Our coffee">
                <img class="history__high-image history__image--3" src="../../assets/img/section-history.jpg"
                    alt="Our coffee">
            </div>
            <div class="history__body">
                <h3 class="accent">Our history</h3>
                <h2 class="section-title history__section-title">Create a <br> new story with us</h2>
                <p class="desc history__desc">
                    mauris rhoncus in imperdiet placerat. vestibu emismd nisl suscirpit ligula
                    volutpat, a feyguat urn maxmaus. cars massa nibhtincidunt. donec et nibh maximus, est eu, mattis
                    nuce. preasent ut quam quis quam venens 
                    atis fringilla. morbi vastibulum id tells mmodo mattis. aliauam erat volutpal.
                </p>
            </div>
        </div>
    </div>
</section>