<section class="section section-reservation" id="reservation">
    <div class="container">
        <div class="reservation">
            <div class="reservation__img">
                <img src="../../assets/img/reservation-map.jpg" alt="Map">
            </div>
            <div class="reservation__body">
                <h3 class="accent">Reservation</h3>
                <h2 class="section-title reservation__section-title">Booking a table</h2>
                <form class="reservation-form">
                    <label for="person"></label>
                    <input class="reservation-form__input" id="person" type="text" placeholder="4 person">
                    <label for="date"></label>
                    <input class="reservation-form__input" id="date" type="text" placeholder="12.25, 2020">
                    <label for="time"></label>
                    <input class="reservation-form__input" id="time" type="text" placeholder="11:00 AM">
                    <button class="button">BOOK S TABLE</button>
                </form>
            </div>
        </div>
    </div> 
</section>