<section class="section section-menu" id="menu">
    <div class="container">
        <div class="menu">
            <h4 class="accent">Menu</h4>
            <h2 class="section-title menu__section-title">Coffee popular menu</h2>
            <ul class="menu__list">
                <li class="menu__elem">
                    <img class="menu__img" src="../../assets/img/menu1.jpg" alt="Our Coffee">
                    <h3 class="section-subtitle">Americano rosted gred</h3>
                    <div class="menu__price accent">$12:00</div>
                </li>
                <li class="menu__elem">
                    <img class="menu__img" src="../../assets/img/menu2.jpg" alt="Our Coffee">
                    <h3 class="section-subtitle">Americano rosted gred</h3>
                    <div class="menu__price accent">$12:00</div>
                </li>
                <li class="menu__elem">
                    <img class="menu__img" src="../../assets/img/menu3.jpg" alt="Our Coffee">
                    <h3 class="section-subtitle">Americano rosted gred</h3>
                    <div class="menu__price accent">$12:00</div>
                </li>
                <li class="menu__elem">
                    <img class="menu__img" src="../../assets/img/section-process1.jpg" alt="Our Coffee">
                    <h3 class="section-subtitle">Americano rosted gred</h3>
                    <div class="menu__price accent">$12:00</div>
                </li>
                <li class="menu__elem">
                    <img class="menu__img" src="../../assets/img/section-process2.jpg" alt="Our Coffee">
                    <h3 class="section-subtitle">Americano rosted gred</h3>
                    <div class="menu__price accent">$12:00</div>
                </li>
                <li class="menu__elem">
                    <img class="menu__img" src="../../assets/img/section-process3.jpg" alt="Our Coffee">
                    <h3 class="section-subtitle">Americano rosted gred</h3>
                    <div class="menu__price accent">$12:00</div>
                </li>
                <li class="menu__elem">
                    <img class="menu__img" src="../../assets/img/menu2.jpg" alt="Our Coffee">
                    <h3 class="section-subtitle">Americano rosted gred</h3>
                    <div class="menu__price accent">$12:00</div>
                </li>
                <li class="menu__elem">
                    <img class="menu__img" src="../../assets/img/menu3.jpg" alt="Our Coffee">
                    <h3 class="section-subtitle">Americano rosted gred</h3>
                    <div class="menu__price accent">$12:00</div>
                </li>
            </ul>
        </div>
    </div>
</section>