<section class="section section-popular">
    <div class="container">
        <div class="popular">
            <h4 class="accent">Popular Product</h4>
            <h2 class="section-title popular__section-title">Coffee popular Product</h2>
            <ul class="popular__list">
                <li class="popular__elem">
                    <img class="popular__img" src="../../assets/img/bag-cofe.jpg" alt="Our Coffee">
                    <div class="popular__body">
                        <div class="popular__rating accent">
                            <strong class="popular__name">Coffee</strong>
                            <span>
                                <svg width="18" height="17" viewBox="0 0 18 17" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9 0.666687L11.575 5.88335L17.3333 6.72502L13.1667 10.7834L14.15 16.5167L9 13.8084L3.85 16.5167L4.83333 10.7834L0.666666 6.72502L6.425 5.88335L9 0.666687Z"
                                        fill="#C99E71" />
                                </svg>
                            </span>
                            <span>
                                <svg width="18" height="17" viewBox="0 0 18 17" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9 0.666687L11.575 5.88335L17.3333 6.72502L13.1667 10.7834L14.15 16.5167L9 13.8084L3.85 16.5167L4.83333 10.7834L0.666666 6.72502L6.425 5.88335L9 0.666687Z"
                                        fill="#C99E71" />
                                </svg>
                            </span>
                            <span>
                                <svg width="18" height="17" viewBox="0 0 18 17" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9 0.666687L11.575 5.88335L17.3333 6.72502L13.1667 10.7834L14.15 16.5167L9 13.8084L3.85 16.5167L4.83333 10.7834L0.666666 6.72502L6.425 5.88335L9 0.666687Z"
                                        fill="#C99E71" />
                                </svg>
                            </span>
                            <span>
                                <svg width="18" height="17" viewBox="0 0 18 17" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9 0.666687L11.575 5.88335L17.3333 6.72502L13.1667 10.7834L14.15 16.5167L9 13.8084L3.85 16.5167L4.83333 10.7834L0.666666 6.72502L6.425 5.88335L9 0.666687Z"
                                        fill="#C99E71" />
                                </svg>
                            </span>
                            <span>
                                <svg width="20" height="19" viewBox="0 0 20 19" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10 1.66669L12.575 6.88335L18.3333 7.72502L14.1667 11.7834L15.15 17.5167L10 14.8084L4.85 17.5167L5.83333 11.7834L1.66666 7.72502L7.425 6.88335L10 1.66669Z"
                                        stroke="#C99E71" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </span>
                        </div>
                        <a class="section-subtitle popular__section-subtitle" href="#">brazil coffee gred</a>
                        <div class="popular__price">Price - <span class="accent">$320.00/</span> <span
                                class="popular__sell">$358</span></div>
                        <button class="popular__button">
                            <span>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6 2L3 6V20C3 20.5304 3.21071 21.0391 3.58579 21.4142C3.96086 21.7893 4.46957 22 5 22H19C19.5304 22 20.0391 21.7893 20.4142 21.4142C20.7893 21.0391 21 20.5304 21 20V6L18 2H6Z"
                                        stroke="white" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M3 6H21" stroke="white" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M16 10C16 11.0609 15.5786 12.0783 14.8284 12.8284C14.0783 13.5786 13.0609 14 12 14C10.9391 14 9.92172 13.5786 9.17157 12.8284C8.42143 12.0783 8 11.0609 8 10"
                                        stroke="white" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </span>
                            Add to cart
                        </button>
                    </div>
                </li>
                <li class="popular__elem">
                    <img class="popular__img" src="../../assets/img/bag-cofe.jpg" alt="Our Coffee">
                    <div class="popular__body">
                        <div class="popular__rating accent">
                            <strong class="popular__name">Coffee</strong>
                            <span>
                                <svg width="18" height="17" viewBox="0 0 18 17" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9 0.666687L11.575 5.88335L17.3333 6.72502L13.1667 10.7834L14.15 16.5167L9 13.8084L3.85 16.5167L4.83333 10.7834L0.666666 6.72502L6.425 5.88335L9 0.666687Z"
                                        fill="#C99E71" />
                                </svg>
                            </span>
                            <span>
                                <svg width="18" height="17" viewBox="0 0 18 17" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9 0.666687L11.575 5.88335L17.3333 6.72502L13.1667 10.7834L14.15 16.5167L9 13.8084L3.85 16.5167L4.83333 10.7834L0.666666 6.72502L6.425 5.88335L9 0.666687Z"
                                        fill="#C99E71" />
                                </svg>
                            </span>
                            <span>
                                <svg width="18" height="17" viewBox="0 0 18 17" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9 0.666687L11.575 5.88335L17.3333 6.72502L13.1667 10.7834L14.15 16.5167L9 13.8084L3.85 16.5167L4.83333 10.7834L0.666666 6.72502L6.425 5.88335L9 0.666687Z"
                                        fill="#C99E71" />
                                </svg>
                            </span>
                            <span>
                                <svg width="18" height="17" viewBox="0 0 18 17" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9 0.666687L11.575 5.88335L17.3333 6.72502L13.1667 10.7834L14.15 16.5167L9 13.8084L3.85 16.5167L4.83333 10.7834L0.666666 6.72502L6.425 5.88335L9 0.666687Z"
                                        fill="#C99E71" />
                                </svg>
                            </span>
                            <span>
                                <svg width="20" height="19" viewBox="0 0 20 19" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10 1.66669L12.575 6.88335L18.3333 7.72502L14.1667 11.7834L15.15 17.5167L10 14.8084L4.85 17.5167L5.83333 11.7834L1.66666 7.72502L7.425 6.88335L10 1.66669Z"
                                        stroke="#C99E71" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </span>
                        </div>
                        <a class="section-subtitle popular__section-subtitle" href="#">brazil coffee gred</a>
                        <div class="popular__price">Price - <span class="accent">$320.00/</span> <span
                                class="popular__sell">$358</span></div>
                        <button class="popular__button">
                            <span>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6 2L3 6V20C3 20.5304 3.21071 21.0391 3.58579 21.4142C3.96086 21.7893 4.46957 22 5 22H19C19.5304 22 20.0391 21.7893 20.4142 21.4142C20.7893 21.0391 21 20.5304 21 20V6L18 2H6Z"
                                        stroke="white" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M3 6H21" stroke="white" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M16 10C16 11.0609 15.5786 12.0783 14.8284 12.8284C14.0783 13.5786 13.0609 14 12 14C10.9391 14 9.92172 13.5786 9.17157 12.8284C8.42143 12.0783 8 11.0609 8 10"
                                        stroke="white" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </span>
                            Add to cart
                        </button>
                    </div>
                </li>
                <li class="popular__elem">
                    <img class="popular__img" src="../../assets/img/bag-cofe.jpg" alt="Our Coffee">
                    <div class="popular__body">
                        <div class="popular__rating accent">
                            <strong class="popular__name">Coffee</strong>
                            <span>
                                <svg width="18" height="17" viewBox="0 0 18 17" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9 0.666687L11.575 5.88335L17.3333 6.72502L13.1667 10.7834L14.15 16.5167L9 13.8084L3.85 16.5167L4.83333 10.7834L0.666666 6.72502L6.425 5.88335L9 0.666687Z"
                                        fill="#C99E71" />
                                </svg>
                            </span>
                            <span>
                                <svg width="18" height="17" viewBox="0 0 18 17" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9 0.666687L11.575 5.88335L17.3333 6.72502L13.1667 10.7834L14.15 16.5167L9 13.8084L3.85 16.5167L4.83333 10.7834L0.666666 6.72502L6.425 5.88335L9 0.666687Z"
                                        fill="#C99E71" />
                                </svg>
                            </span>
                            <span>
                                <svg width="18" height="17" viewBox="0 0 18 17" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9 0.666687L11.575 5.88335L17.3333 6.72502L13.1667 10.7834L14.15 16.5167L9 13.8084L3.85 16.5167L4.83333 10.7834L0.666666 6.72502L6.425 5.88335L9 0.666687Z"
                                        fill="#C99E71" />
                                </svg>
                            </span>
                            <span>
                                <svg width="18" height="17" viewBox="0 0 18 17" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9 0.666687L11.575 5.88335L17.3333 6.72502L13.1667 10.7834L14.15 16.5167L9 13.8084L3.85 16.5167L4.83333 10.7834L0.666666 6.72502L6.425 5.88335L9 0.666687Z"
                                        fill="#C99E71" />
                                </svg>
                            </span>
                            <span>
                                <svg width="20" height="19" viewBox="0 0 20 19" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10 1.66669L12.575 6.88335L18.3333 7.72502L14.1667 11.7834L15.15 17.5167L10 14.8084L4.85 17.5167L5.83333 11.7834L1.66666 7.72502L7.425 6.88335L10 1.66669Z"
                                        stroke="#C99E71" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </span>
                        </div>
                        <a class="section-subtitle popular__section-subtitle" href="#">brazil coffee gred</a>
                        <div class="popular__price">Price - <span class="accent">$320.00/</span> <span
                                class="popular__sell">$358</span></div>
                        <button class="popular__button">
                            <span>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6 2L3 6V20C3 20.5304 3.21071 21.0391 3.58579 21.4142C3.96086 21.7893 4.46957 22 5 22H19C19.5304 22 20.0391 21.7893 20.4142 21.4142C20.7893 21.0391 21 20.5304 21 20V6L18 2H6Z"
                                        stroke="white" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M3 6H21" stroke="white" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M16 10C16 11.0609 15.5786 12.0783 14.8284 12.8284C14.0783 13.5786 13.0609 14 12 14C10.9391 14 9.92172 13.5786 9.17157 12.8284C8.42143 12.0783 8 11.0609 8 10"
                                        stroke="white" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </span>
                            Add to cart
                        </button>
                    </div>
                </li>
            </ul>
            <button class="button">View all product</button>
        </div>
    </div>
</section>